<h1>All courses:</h1>
<ol class="list-group list-group-numbered">
    <li class="list-group-item bg-primary text-white">Java - Duration - 3 Months - Fees - 30000PKR</li>
    <li class="list-group-item bg-primary text-white">Python - Duration - 2 Months - Fees - 50000PKR</li>
    <li class="list-group-item bg-primary text-white">C++ - Duration - 5 Months - Fees - 40000PKR</li>
    <li class="list-group-item bg-primary text-white">JavaScript - Duration - 6 Months - Fees - 25000PKR</li>
    <li class="list-group-item bg-primary text-white">Angular - Duration - 2 Months - Fees - 15000PKR</li>
</ol>


<button type="button" (click)="close()" class="btn btn-danger">Close</button>